{% load static %}
<!DOCTYPE html>
<html lang="pt-Br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <title>Página Inicial - Escolha seu Mini Game</title>
  </head>
  <body>
    <h1>Escolha seu Mini Game para começar</h1>
    <a href="">
      <p>Jogo da Velha</p>
      <img src="{% static 'img/jogo_velha.png'%}" alt="" />
    </a>
    <a href="">
      <p>Coming Soon!</p>
    </a>
    <a href="">
      <p>Coming Soon!</p>
    </a>
    <a href="">
      <p>Coming Soon!</p>
    </a>
  </body>
</html>
